# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [85]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [59]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df =pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Wattegama,LK,6.7989,81.4808,81.84,69,21,5.03,few clouds
1,1,Asosa,ET,10.0667,34.5333,59.23,88,98,3.62,overcast clouds
2,2,Curumani,CO,9.1999,-73.5427,75.15,95,89,3.18,overcast clouds
3,3,Rocha,UY,-34.4833,-54.3333,42.53,89,1,4.54,clear sky
4,4,Tuktoyaktuk,CA,69.4541,-133.0374,32.00,80,100,11.50,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [ ]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input('What is the minimum temperature you want?'))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input('What is the maximum temperature you want?'))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [61]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Wattegama,LK,6.7989,81.4808,81.84,69,21,5.03,few clouds
1,1,Asosa,ET,10.0667,34.5333,59.23,88,98,3.62,overcast clouds
2,2,Curumani,CO,9.1999,-73.5427,75.15,95,89,3.18,overcast clouds
5,5,Vaini,TO,-21.2000,-175.2000,78.96,69,40,21.85,scattered clouds
7,7,Busselton,AU,-33.6500,115.3333,56.80,57,99,12.50,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [62]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Wattegama,LK,6.7989,81.4808,81.84,69,21,5.03,few clouds
1,1,Asosa,ET,10.0667,34.5333,59.23,88,98,3.62,overcast clouds
2,2,Curumani,CO,9.1999,-73.5427,75.15,95,89,3.18,overcast clouds
5,5,Vaini,TO,-21.2000,-175.2000,78.96,69,40,21.85,scattered clouds
7,7,Busselton,AU,-33.6500,115.3333,56.80,57,99,12.50,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [63]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

        City Country  Max Temp Current Description      Lat       Lng
0  Wattegama      LK     81.84          few clouds   6.7989   81.4808
1      Asosa      ET     59.23     overcast clouds  10.0667   34.5333
2   Curumani      CO     75.15     overcast clouds   9.1999  -73.5427
5      Vaini      TO     78.96    scattered clouds -21.2000 -175.2000
7  Busselton      AU     56.80     overcast clouds -33.6500  115.3333

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [64]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]=""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Wattegama,LK,81.84,few clouds,6.7989,81.4808,
1,Asosa,ET,59.23,overcast clouds,10.0667,34.5333,
2,Curumani,CO,75.15,overcast clouds,9.1999,-73.5427,
5,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,
7,Busselton,AU,56.80,overcast clouds,-33.6500,115.3333,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [69]:
# Review the parameters to search for a hotel
params = {
    "radius": 100000,
    "type": "lodging", 
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [72]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [74]:
# Display sample data 
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Wattegama,LK,81.84,few clouds,6.7989,81.4808,Silanrich Hotel
1,Asosa,ET,59.23,overcast clouds,10.0667,34.5333,Blendana Hotel Assosa
2,Curumani,CO,75.15,overcast clouds,9.1999,-73.5427,Hotel Los Cubides
5,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,Little Italy Hotel
7,Busselton,AU,56.80,overcast clouds,-33.6500,115.3333,Observatory Guest House

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [75]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Wattegama,LK,81.84,few clouds,6.7989,81.4808,Silanrich Hotel
1,Asosa,ET,59.23,overcast clouds,10.0667,34.5333,Blendana Hotel Assosa
2,Curumani,CO,75.15,overcast clouds,9.1999,-73.5427,Hotel Los Cubides
5,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,Little Italy Hotel
7,Busselton,AU,56.80,overcast clouds,-33.6500,115.3333,Observatory Guest House
...,...,...,...,...,...,...,...
706,Biloela,AU,76.33,overcast clouds,-24.4167,150.5000,Silo Motor Inn Biloela
707,Qui Nhon,VN,80.19,overcast clouds,13.7667,109.2333,Seagull Hotel
708,Taltal,CL,57.65,clear sky,-25.4000,-70.4833,Residencial Karime
710,Pedro Ii,BR,71.98,scattered clouds,-4.4247,-41.4586,Opala Hotel
712,Havelock,US,65.93,clear sky,34.8791,-76.9013,Sherwood Motel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [76]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [77]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [78]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Silanrich Hotel</dd>\n<dt>City</dt><dd>Wattegama</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>few clouds and 81.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Blendana Hotel Assosa</dd>\n<dt>City</dt><dd>Asosa</dd>\n<dt>Country</dt><dd>ET</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 59.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Los Cubides</dd>\n<dt>City</dt><dd>Curumani</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Little Italy Hotel</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 56.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Desert Palms Alice Springs</dd>\n<dt>City</dt><dd>Alice Springs</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 90.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 71.96 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>SPOT ON 2220 PINK'S GUEST HOUSE</dd>\n<dt>City</dt><dd>Sibolga</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.58 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel San Juan</dd>\n<dt>City</dt><dd>Coquimbo</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>clear sky and 51.53 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Résidence le Cotonnier</dd>\n<dt>City</dt><dd>Ouargaye</dd>\n<dt>Country</dt><dd>BF</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.91 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [79]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0    6.7989   81.4808
1   10.0667   34.5333
2    9.1999  -73.5427
5  -21.2000 -175.2000
7  -33.6500  115.3333
10 -23.7000  133.8833
11 -23.1203 -134.9692
12   1.7427   98.7792
13 -29.9533  -71.3436
14  11.5033    0.0572

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [84]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))